<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="org.springframework" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.hibernate" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.jboss" level="WARN" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.mongodb" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>